// Fonts

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

// Animation

@keyframes gradientRotate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 10% 10%;
  }
}

@keyframes gradientRotate2 {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

// Variables

$BackgroundColor: #040d17;
$PrimaryColor: linear-gradient(to right, #a7c5eb, #413c69);
$SecondaryColor: #a7c5eb;
$TextColor: #fff;
$SubTextColor: #ababab;

// Mixins

@import "mixin";

// Utilities

@import "utilities";

// Home Style

@import "home";

// Contact

@import "contact";

// Homy

body.portfolio-page {
  background-color: $TextColor !important;
}

section.portfolio-detail {
  margin-top: 150px;
  margin-bottom: 150px;
  h2.portfolio-title {
    color: #201f1f;
    font-weight: 700;
    margin-bottom: 30px;
  }
  h4.sub-title {
    font-weight: 700 !important;
    color: #201f1f;
  }
  h6.sub-sub-title {
    font-weight: 700;
    color: #201f1f;
  }
  section.content {
    margin-bottom: 50px;
    img.portfolio-banner {
      margin-bottom: 50px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        filter: brightness(1.1);
      }
    }
    img.portfolio-banner.small {
      max-width: 300px;
    }
    p {
      font-weight: 500;
      color: #8d8d8d;
      margin-bottom: 10px;
      &.ket {
        margin-bottom: 3px;
      }
    }
    figcaption {
      font-style: italic;
      margin-top: -20px;
    }
    span.homy {
      color: #2a9ea4;
    }
  }
}
